<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <header>
            <h1>ㅇ클래식 음악감상</h1>
            <p>최애곡: Chopin, Debussy</p>
        </header>
        <header>
        <h1>ㅇ헬스</h1> 
        <p>구력: 2020~現(2022.10 어깨부상, 1년 휴식 및 재활)</p>
        </header>
        <header>
        <h>ㅇ피아노 연주</h> 
        <p>구력: 2023.10~現(칠 줄 아는 곡: 5개 미만)</p>
        </header>
        <header>
        <h>ㅇ농구, 축구</h>
        <p>복학 후 바빠서 못하고 있는 중</p>
        </header>
    </article>
</section>