<section class="thirteen columns">
    <h1>Master Plan for University</h1>
    <article>
        <header>
            <h1>ㅇ2024(2학년)</h1>
            <p>-UGRP</p>
            <p>-연구참여(여름방학&겨울방학)</p>
            <p>-웹&앱 개발 독학</p>
        </header>
    </article>
    <article>
        <header>
            <h1>ㅇ2025(3학년)</h1>
            <p>-여름&겨울방학 인턴십 프로그램(포스코 or 포스코퓨처엠)</p>
            <p>-포스코 or 포스코퓨처엠 산학장학생 준비</p>
            <p>웹 or 앱 개발 이용한 활동 찾아서 해보기</p>
        </header>
    </article>
    <article>
        <header>
            <h1>ㅇ2026(4학년)</h1>
            <p>-여름방학 인턴십 프로그램(포스코 or 포스코퓨처엠)</p></p>
            <p>겨울방학 CES2027 참가하기(방학동안 미국에서 살기)</p>
            <p>웹 or 앱 개발 이용한 활동 찾아서 해보기</p>
        </header>
</section>