<section class="thirteen columns">
    <h1>Military Service</h1>
    <article>
        <header>
            <h1>ㅇ해군 훈련소 입소</h1>
            <p>2022년 2월 14일 진해 해군기초군사교육단 입소</p>
        </header>
        <header>
            <h1>ㅇ자대 배치</h1>
            <p>2022년 4월 20일 계룡대근무지원단 수송대대 정비중대 배치</p>
        </header>
        <header>
            <h1>ㅇ복무내역</h1>
            <p>2022년 5월 1일 일병 진급</p>
            <p>2022년 11월 1일 상병 진급</p>
            <p>2023년 5월 1일 병장 진급</p>
            <p>2023년 10월 13일 만기전역</p>
        </header>
    </article>
</section>
