<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>C/C++ & Objective-C(프로그래밍 기초, 객체지향프로그래밍 수강)</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
            <em>Python(독학)</em>
        </p>
        <p>
            <i class="fa fa-star-half-o"></i>
            <em>Git(동아리 멘토링)</em>
        </p>
        <p>
            <em>Plus: Will Learn Web & App Development Soon(24년도 여름방학 때 예정)</em>
        </p>
    </article>
</section>